<div class="text-center">
  <h2>My events</h2>
</div>

<div class="container">
  <div class="mt-4 mb-2">
    <%= link_to "+ Add new event", new_event_path %>
  </div>

  <div class="cards-events row">

      <% @all_events.each do |event| %>
          <div class="col-12 col-lg-3">
            <div class="card-event">
            <%= link_to "See item", event_path(event) %>
              <div class="card-event-description">
                <div class="card-title">
                  <div>
                    <h3><%= event.name.truncate(22) %></h3>
                    <p><i class="fas fa-running"></i> <span class="card-category"><%= event.sport %></span></p>
                  </div>
                  <div class="card-avatar">
                    <% if event.user.photo.attached? %>
                      <%= cl_image_tag event.user.photo.key, class: "img-card-avatar" %>
                    <% else %>
                      <%= image_tag 'avatar-backup.svg', width: 74 %>
                    <% end %>
                  </div>
                </div>
                <div class="card-details">
                    <div>
                      <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime("%d/%m/%Y") %></p>
                      <p><i class="fas fa-map-pin"></i> <%= event.location.truncate(22) %></p>
                    </div>
                    <div class="card-price">
                      <% if event.level == "Beginner" %>
                        <p class="text-success font-weight-bold"><%= event.level %></p>
                      <% elsif event.level == "Intermediate" %>
                        <p class="text-warning font-weight-bold"><%= event.level %></p>
                      <% else %>
                        <p class="text-danger font-weight-bold"><%= event.level %></p>
                      <% end %>
                      <%# booking status + photos of people who booked inside iteration %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>

