<div class="text-center">
  <h2>My events</h2>
</div>

<div class="container">
  <div class="mt-4 mb-2">
    <%= link_to "+ Add new event", new_event_path %>
  </div>

  <div class="cards-events row">

      <% @all_events.each do |event| %>
          <div class="col-12 col-lg-3">
            <div class="card-event">
              <%= link_to "See item", event_path(event) %>
              <div class="card-event-description">
                <div class="card-level">
                  <% if event.level == "Beginner" %>
                    <p class="text-success font-weight-bold mb-1"><%= event.level %></p>
                  <% elsif event.level == "Intermediate" %>
                    <p class="text-warning font-weight-bold mb-1"><%= event.level %></p>
                  <% else %>
                    <p class="text-danger font-weight-bold mb-1"><%= event.level %></p>
                  <% end %>
                </div>
                <div class="card-title">
                  <div class="card-avatar">
                    <% if event.user.photo.attached? %>
                      <%= cl_image_tag event.user.photo.key, class: "img-card-avatar" %>
                    <% else %>
                      <%= image_tag 'avatar-backup.svg', width: 74 %>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <h3><%= event.name.truncate(26) %></h3>
                    <p><i class="far fa-calendar-alt icon mr-1"></i> <%= event.date.strftime("%d/%m/%Y") %> <span class="ml-2"><i class="far fa-clock icon mr-1"></i> <%= event.date.strftime("%H:%M") %></span></p>
                    <p><i class="fas fa-location-arrow icon mr-1"></i> <%= event.location.truncate(29) %></p>
                  </div>

                </div>
                <div class="card-details">
                  <div>
                    <p><span class="card-category"><%= event.sport %></span></p>
                  </div>

                    <div class="card-price dropdown-z">
                      <%# Dynamically change the amount of bookings made for that event + add if statement to change color of text %>
                      <% @bookings.each do |booking| %>
                        <% if booking.event == event %>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-button dropdown-toggle dropdown-z" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <%= booking.status %>
                            </button>
                            <div class="dropdown-menu dropdown-z">
                              <div class="menu-height">
<!--                                 <%= link_to 'Approve', booking_accept_path(booking), method: :post, class: "approve-link dropdown-item" %> -->
                                <%= link_to 'Cancel', booking_cancel_path(booking), method: :post, class: "approve-link dropdown-item" %>
                              </div>
                            </div>
                          </div>


                        <% end %>
                      <% end %>
                    </div>
                </div>
          <!--       <div class="card-details">
                    <div>
                      <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime("%d/%m/%Y") %></p>
                      <p><i class="fas fa-map-pin"></i> <%= event.location.truncate(22) %></p>
                    </div>
                      <%# booking status + photos of people who booked inside iteration %>
                </div> -->
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>

