
<div class="navbar navbar-lewagon">
  <% url = request.path_info %>
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-btn" do %>
    <% if action_name == "home" %>
      <p class="nav-img-active"><i class="fas fa-home"></i></p>
      <div class="nav-text"><p class="nav-text-active">Home</p></div>
    <% else %>
      <p class="nav-img"><i class="fas fa-home"></i></p>
      <div class="nav-text"><p>Home</p></div>
    <% end %>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
    <% if url.include?('events') && url.exclude?('new') %>
      <p class="nav-img-active"><i class="fas fa-search"></i></p>
      <div class="nav-text"><p class="nav-text-active">Explore</p></div>
    <% else %>
      <p class="nav-img"><i class="fas fa-search"></i></p>
      <div class="nav-text"><p>Explore</p></div>
    <% end %>
    <% end %>

    <% if policy(Event).create? %>
      <%= link_to new_event_path, class: "navbar-btn" do %>
    <% if url.include?('events/new') %>
      <p class="nav-img-active"><i class="far fa-edit"></i></p>
      <div class="nav-text"><p class="nav-text-active">New event</p></div>
    <% else %>
      <p class="nav-img"><i class="far fa-edit"></i></p>
      <div class="nav-text"><p>New event</p></div>
    <% end %>
    <% end %>
    <% end %>

    <%= link_to bookings_path, class: "navbar-btn" do %>
    <% if url.include?('bookings') %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "img-navbar-avatar-active" %>
      <% else %>
        <%= image_tag 'avatar-backup.svg', width: 42 %>
      <% end %>
    <% else %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "img-navbar-avatar" %>
      <% else %>
        <%= image_tag 'avatar-backup.svg', width: 42 %>
      <% end %>
    <% end %>
    <% end %>

    <% else %>

    <%= link_to root_path, class: "navbar-btn" do %>
    <% if action_name == "home" %>
      <p class="nav-img-active"><i class="fas fa-home"></i></p>
      <div class="nav-text"><p class="nav-text-active">Home</p></div>
    <% else %>
      <p class="nav-img"><i class="fas fa-home"></i></p>
      <div class="nav-text"><p>Home</p></div>
    <% end %>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
    <% if action_name == "index" %>
      <p class="nav-img-active"><i class="fas fa-search"></i></p>
      <div class="nav-text"><p class="nav-text-active">Explore</p></div>
    <% else %>
      <p class="nav-img"><i class="fas fa-search"></i></p>
      <div class="nav-text"><p>Explore</p></div>
    <% end %>
    <% end %>

    <%= link_to new_user_session_path, class: "navbar-btn" do %>
    <% if action_name == "new" %>
      <p class="nav-img-active"><i class="fas fa-user"></i></p>
      <div class="nav-text"><p class="nav-text-active">Login</p></div>
    <% else %>
      <p class="nav-img"><i class="fas fa-user"></i></p>
      <div class="nav-text"><p>Login</p></div>
    <% end %>
    <% end %>

<% end %>
</div>
