
<div class="navbar navbar-lewagon">
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-btn" do %>
    <div><%= image_tag "home.svg", alt: "Home"%></div>
      <div class="nav-text"><p>Home</p></div>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
      <%= image_tag "loupe.svg", alt: "Events"%>
      <div class="nav-text"><p>Explore</p></div>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
      <%= image_tag "create.svg", alt: "Create event"%>
      <div class="nav-text"><p>New event</p></div>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
      <%= image_tag "login.svg", alt: "Profile"%>
      <div class="nav-text"><p>Profile</p></div>
    <% end %>

    <% else %>
    <%= link_to root_path, class: "navbar-btn" do %>
      <%= image_tag "home.svg", alt: "Home"%>
      <div class="nav-text"><p>Home</p></div>
    <% end %>

    <%= link_to events_path, class: "navbar-btn" do %>
      <%= image_tag "loupe.svg", alt: "Events"%>
      <div class="nav-text"><p>Explore</p></div>
    <% end %>

    <%= link_to new_user_session_path, class: "navbar-btn" do %>
      <%= image_tag "login.svg", alt: "Login"%>
      <div class="nav-text"><p>Login</p></div>
    <% end %>
  <% end %>

  
</div>
