<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <% url = request.path_info %>
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <% if action_name == "home" %>
        <p>Sportify</p> 
      <% else %>
        <p>Sportify</p>
      <% end %>
    <% end %>

    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to events_path, class: "nav-link" do %>
            <% if url.include?('events') && url.exclude?('new') %>
              <p class="nav-link active">Explore</p>
            <% else %>
              <p class="nav-link">Explore</p>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if policy(Event).create? %>
            <%= link_to new_event_path, class: "nav-link" do %>
              <% if url.include?('events/new') %>
                <p class="nav-link active">New event</p>
              <% else %>
                <p class="nav-link">New event</p>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to bookings_path, class: "navbar-btn" do %>
            <% if url.include?('bookings') %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "img-navbar-avatar-active" %>
              <% else %>
                <%= image_tag 'avatar-backup.svg', width: 42 %>
              <% end %>
            <% else %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "img-navbar-avatar" %>
              <% else %>
                <%= image_tag 'avatar-backup.svg', width: 42 %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

  <% else %>

   <%= link_to root_path, class: "navbar-brand" do %>
      <% if action_name == "home" %>
        <p>Sportify</p> 
      <% else %>
        <p>Sportify</p>
      <% end %>
    <% end %>

   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to events_path, class: "nav-link" do %>
            <% if action_name == "index" %>
              <p class="nav-link active">Explore</p>
            <% else %>
              <p class="nav-link">Explore</p>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <% if action_name == "new" %>
              <p class="nav-link active">Login</p>
            <% else %>
              <p class="nav-link">Login</p>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</nav>
