<%# Build search bar HERE %>
<% require "date" %>

<div class="container">

  <div class="search-section">

    <div class="search-box">
    <%= simple_form_for :search, url: events_path, method: "GET", html: { class: 'form-block' } do |f| %>
      <div class="container d-flex">
        <%= button_tag type: 'submit', class:"search-icon" do %>
        <i class="fas fa-search" aria-hidden="true"></i>
        <% end %>

        <div class="search-text" style="margin:0px;">
        <%= f.input :sport, input_html: {placeholder: "Type your sport" }, label:false %>
        </div>
      </div>
    <% end %>
  </div>
    <a class="filter-element" data-toggle="collapse" href="#collapseFilters"><i class="fas fa-sliders-h filter-icon"></i></a>
  </div>
    </div>

    <div id="collapseFilters" class="container collapse form">
    <%= simple_form_for :search, url: events_path, method: "GET", html: { class: 'form-block' } do |f| %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :level, collection: Event.levels.map{ |l| [l.first, l.second] }, required: false, label_method: :first, value_method: :second%>
      <%= f.input :location, required: false, placeholder: 'Enter a location for your event' %>
      <%= f.button :submit, 'Search', class: "btn btn-primary btn-lg btn-form mt-3" %>
    <% end %>
    </div>

  <%#  %>

    <!-- <%# MAP CODE %>
    <a class="btn btn-outline-primary btn-lg my-2" data-toggle="collapse" href="#collapseMap" role="button" aria-expanded="false" aria-controls="collapseMap">
          Map <i class="fas fa-map-marked-alt"></i>
    </a>
    <div class="collapse" id="collapseMap">

    <div id="map"
      style="width: 100%; height: 350px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <%#  %>
    </div>
    -->

  <div class="cards-events row">
    <% @events.each do |event| %>
        <div class="col-12 col-lg-3">
          <div class="card-event">
          <%= link_to "See item", event_path(event) %>
            <div class="card-event-description">
              <div class="card-level">
                <% if event.level == "Beginner" %>
                  <p class="text-success font-weight-bold mb-1"><%= event.level %></p>
                <% elsif event.level == "Intermediate" %>
                  <p class="text-warning font-weight-bold mb-1"><%= event.level %></p>
                <% else %>
                  <p class="text-danger font-weight-bold mb-1"><%= event.level %></p>
                <% end %>
              </div>
              <div class="card-title">
                <div class="card-avatar">
                <% if event.user.photo.attached? %>
                  <%= cl_image_tag event.user.photo.key, class: "img-card-avatar" %>
                <% else %>
                  <%= image_tag 'avatar-backup.svg', width: 74 %>
                <% end %>
                </div>
                <div class="card-content">
                  <h3><%= event.name.truncate(26) %></h3>
                  <p><i class="far fa-calendar-alt icon mr-1"></i> <%= event.date.strftime("%d/%m/%Y") %> <span class="ml-2"><i class="far fa-clock icon mr-1"></i> <%= event.date.strftime("%H:%M") %></span></p>
                  <p><i class="fas fa-location-arrow icon mr-1"></i> <%= event.location.truncate(29) %></p>
                </div>
                
              </div>
              <div class="card-details">
                <div>
                  <p><span class="card-category"><%= event.sport %></span></p>
                </div>
                  <div class="card-price">
                    <% if event.bookings.count == event.capacity %>
                      <p style="color: #E8E8E8"><%= event.bookings.count + 1 %> / <%= event.capacity %> </p>
                    <% else %>
                      <p><%= event.bookings.count + 1 %> / <%= event.capacity %> </p>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
