<%= link_to "Sportify", root_path, class: "a-root" %>
<%# Build search bar HERE %>
<div style="height: 100px; background: #30475E"></div>
<%#  %>
<%= image_tag "map-berlin.JPG", class: "map" %>
<div class="category-banner" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(<%= asset_path 'tennis-court.jpg' %>)">
  <h2>Tennis</h2>
</div>

<div class="container">
  <div class="cards-events row">
        <div class="col-12 col-lg-3">
          <div class="card-event">
            <div class="card-event-description">
              <div class="card-title">
                <div>
                  <h3>Event name for 5 people</h3>
                  <p><i class="fas fa-running"></i> <span class="card-category">Tennis</span></p>
                </div>
                <div class="card-avatar">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "img-card-avatar" %>
                </div>
              </div>
              <div class="card-details">
                  <div>
                    <p><i class="far fa-calendar-alt"></i> 01/01/2021</p>
                    <p><i class="fas fa-map-pin"></i> xx km away</p>
                  </div>
                  <div class="card-price">
                    <p>Skill level</p>
                    <p>x / xx </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<% if false %>
<div class="container">
  <div class="cards-events row">
    <% @events.each do |event| %>
      <% if event.category == "Tennis"%>
        <div class="col-12 col-lg-3">
          <div class="card-event">
            <%= cl_image_tag event.photo.key, alt: "Find", class: "card-event-img" %>
            <% if policy(event).show? %>
              <%= link_to "See item", event_path(event) %>
            <% end %>
            <div class="card-event-description">
              <div class="card-title">
                <h3><%= event.name.truncate(20) %></h3>
                <p><%= event.category %></p>
              </div>
              <div class="card-details">
                  <div>
                    <% if event.availability == false %>
                      <p>Available ❌</p>
                    <% else %>
                      <p>Available ✔️</p>
                    <% end %>
                    <p><%= event.location.truncate(16) %> <%= image_tag "pin.png", width: 15 %></p>
                  </div>
                  <div class="card-price">
                    <p><%= event.user.name %></p>
                    <p><%= event.price %>€</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>