<div class="container">

  <div class="show-card" style="background-image: url(<%= asset_path 'tennis-court.jpg' %>); ">
    <div class="d-flex">
      <div>
        <h2><%= @event.name.truncate(22) %></h2>
        <h3><%= @event.level %></h3>
      </div>
    <div id="sport-tag">
      <p><i class="fas fa-running"></i> <span class="card-category"><%= @event.sport %></span></p>
    </div>
  </div>
    </div>

  <div class="d-flex justify-content-between">
    <div>
      <div><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "img-card-avatar" %>
      </div>
      <p><%= @event.user.username %></p>
    </div>

    <div>
      <p><i class="far fa-calendar-alt"></i> <%= @event.date.strftime("%d/%m/%Y") %></p>
    </div>
  </div>

  <div>
    <h2>Description</h2>
    <p id="background-description"><%= @event.description %></p>
  </div>

  <div class="d-flex">
    <p><i class="fas fa-money-bill-wave"></i> <%= @event.price %></p>
  </div>

  <div class="d-flex">
    <p><i class="fas fa-users"></i> <%= @event.capacity %></p>
  </div>

  <div class="d-flex">
    <p><i class="fas fa-map-marked-alt"></i> <%= @event.location.truncate(22) %></p>
  </div>

 <div class="show-card" style="background-image: url(https://i.pinimg.com/originals/48/cb/39/48cb3958b9f20fc5055179f84fedbea4.jpg); ">
    <p>The</p>
    <p>Map</p>
    <p>Goes</p>
    <p>Here</p>
  </div>

  <button type="button" class="btn btn-primary btn-lg btn-block sticky">Send request</button>
  <a href="#" class="btn btn-outline-primary btn-lg my-2">Edit this event</a>
  <%= link_to 'Delete this event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "btn btn-outline-danger btn-lg my-2" %>
  <div>
    <p>....comments....</p>
  </div>

</div>
