<div class="show-card">
  <div>
    <div class="event-name-show">
      <h2 class=""><%= @event.name %></h2>
    </div>
    <div class="d-flex justify-content-between event-info-show">
      <div class="d-flex justify-content-between">
        <p><span class="card-category"><%= @event.sport %></span></p>
        <% if @event.level == "Beginner" %>
          <p class="text-success ml-2"><%= @event.level %></p>
        <% elsif @event.level == "Intermediate" %>
          <p class="text-warning ml-2"><%= @event.level %></p>
        <% else %>
          <p class="text-danger ml-2"><%= @event.level %></p>
        <% end %>
      </div>
      <div>
        <p> <%= @event.bookings.count %> / <%= @event.capacity %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between show-card-avatar">
    <div>
      <%= cl_image_tag @event.user.photo.key, class: "img-card-avatar" %>
      <p class="center-text"><%= @event.user.username %></p>
    </div>
    <div>
      <p id="background-description"><%= @event.description %></p>
    </div>
  </div>
  <div class="show-card-desc">
    <div>
      <p><i class="icon far fa-calendar-alt"></i> <%= @event.date.strftime("%d/%m/%Y") %></p>
    </div>
    <div>
      <p><i class="icon far fa-clock"></i> <%= @event.date.strftime("%l:%M%p") %></p>
    </div>
    <div>
      <p><i class="icon fas fa-money-bill-wave"></i> <%= @event.price %>€</p>
    </div>
    <div>
      <p><i class="icon fas fa-location-arrow"></i> <%= @event.location %></p>
    </div>
  </div>
</div>

<div id="showmap"
   style="width: 100%; height: 150px;"
   data-marker="<%= @marker.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="d-flex justify-content-center align-content-center">
  <% if @event.user != current_user %>
    <%= simple_form_for [@event, @booking] do |f| %>
        <%= f.button :submit, 'Join!', class: "btn btn-primary text-white btn-md" %>
    <% end %>
  <% end %>

  <% if policy(@event).update? %>
    <%= link_to 'Edit this event', edit_event_path(@event), class: "btn btn-outline-primary btn-md my-2" %>
  <% end %>

  <% if policy(@event).destroy? %>
    <%= link_to 'Delete this event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "btn btn-outline-danger btn-md my-2" %>
  <% end %>
</div>
 <!--  <div>
    <p>....comments....</p>
  </div> -->

