<div class="container">

  <div class="show-card" style="background-image: url(<%= asset_path 'tennis-court.jpg' %>); ">
    <div>
      <h2><%= @event.name.truncate(22) %></h2>
      <h3><%= @event.level %></h3>
  </div>
    </div>

  <div class="d-flex justify-content-between">
    <div>
      <p>avatar</p>
      <p><%= @event.user.username %></p>
    </div>

    <div class="d-flex">
      <i class="far fa-calendar-alt"></i>
      <p> date of event</p>
    </div>
  </div>

  <div>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium facere, veniam, ex autem iusto eius tenetur quidem quaerat magni, quae provident voluptate ducimus numquam iste asperiores commodi ea nesciunt nostrum totam! Repellat ex, adipisci illum ipsa cum, fuga blanditiis ratione magni nostrum totam vitae repellendus, laborum est eos at deserunt.</p>
  </div>

  <div class="d-flex">
    <i class="fas fa-money-bill-wave"></i>
    <p> price</p>
  </div>

  <div class="d-flex">
    <i class="fas fa-users"></i>
    <p> capacity</p>
  </div>

  <div class="d-flex">
    <i class="fas fa-map-marked-alt"></i>
    <p> location</p>
  </div>

 <div class="show-card" style="background-image: url(https://i.pinimg.com/originals/48/cb/39/48cb3958b9f20fc5055179f84fedbea4.jpg); ">
    <p>The</p>
    <p>Map</p>
    <p>Goes</p>
    <p>Here</p>
  </div>

  <button type="button" class="btn btn-primary btn-lg btn-block sticky">Send request</button>
  <a href="#" class="btn btn-outline-primary btn-lg my-2">Edit this event</a>
  <%= link_to 'Delete this event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "btn btn-outline-danger btn-lg my-2" %>
  <div>
    <p>comments</p>
  </div>

</div>
