<%# <div class="opaque-cover"></div> %>
<div class="body-styling" style="background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(<%= asset_path 'background-image.jpg' %>)">
    <div class="banner">
        <div class="container-fluid mx-auto banner-text" style="width:fit-content;">

            <div id="login-button">
                <a href="#">Login</a>
            </div>

            <h1><span id="app-name">Sportify</span></h1>
            <h3 class="banner-text-header">Meet your buddy and go!</h3>

            <div class="search-bar" style="display:block">
                <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-block' } do |f| %>
                <%= f.input :location, input_html: {value: "Type your location", }, label:false %>
                <%= f.submit "Explore", class: "btn btn-primary btn-sm btn-block font-weight-bold" %>
                <% end %>
            </div>
        </div>

    </div>

    <div class="illustrations">

        <div class="container illustration-pictures d-flex justify-content-around shadow p-3 mb-5rounded">
            <div class="illustration-card container">
                <p>Search sporting events</p>
                <%= image_tag("search.png") %>
                <hr / class="hr-styling">
            </div>
            <div class="illustration-card container">
                <p>Apply for interesting ones</p>
                <%= image_tag("contact.png") %>
                <hr / class="hr-styling">
            </div>
            <div class="illustration-card container">
                <p>Make friends & have fun</p>
                <%= image_tag("fun.png") %>
                <hr / class="hr-styling">
            </div>
        </div>
    </div>
</div>
